.control {
  width: 600px;
  padding: 5px;
  background: transparent;
  border: 1px solid gray;
  color: black;
  font-size: 18px;
  margin-bottom: 16px;
  outline: none;
  border-radius: 5px;
}

.control:hover {
  border-color:blue;
  transition: 0.3s ease-in-out;
}

.control:focus {
  border-color: blue;
}
